<nav class="navbar navbar-expand-lg navbar-light navbar-background-image">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">DemoApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" >
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"  routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jobs"  routerLinkActive="active-link">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clients"  routerLinkActive="active-link">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employees"  routerLinkActive="active-link">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"  routerLinkActive="active-link">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user"  routerLinkActive="active-link">User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>